@font-face {
  font-family: neu;
  font-weight: 300;
  src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 300;
  src: url(./NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: neu;
  font-weight: bold;
  src: url(./NeueHaasDisplayBold.ttf);
}
@font-face {
  font-family: new;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: only-p;
  font: 100;
  src: url(./NeueHaasDisplayThin.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: neu;
}
.loader{
  height: 100%;
  width: 100%;
  background-color:#000;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content:center;
  transition: all linear 0.4s;
}
.loader h1{
  background: linear-gradient(to right,orange,orangered);
  font-size: 4vw;
  color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: loader;
  animation-timing-function: linear;
  animation-duration: 0.7s;
}
.loader h1:nth-child(2){
  animation-delay: 0.7s;
}
.loader h1:nth-child(3){
  animation-delay: 1.5s;
}
@keyframes loader {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#main-wrapper {
  position: relative;
  z-index: 100;
}

html,
body {
  height: 100%;
  width: 100%;
}
#cursor{
  height: 7vw;
  width: 7vw;
  background-color: #FE350B;
  color: #efeae3;
  position:fixed;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  font-size: 1.5vw;
  padding: 2vw;
  justify-content: center;
  align-items: center;
 transform: translate(-50%,-50%);

}
.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 2.3vw;
  background-color: #efeae3;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2vw 0;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
nav h3 {
  display: none;
}
.nav-part2 {
  display: flex;
  align-items: center;
}

#center {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.left h3 {
  font-weight: 700;
  width: 30vw;
  gap: 100px;
  font-size: 1.8vw;
  line-height: 2vw;
}
#center h1 {
  font-size: 11vw;
  text-align: right;
  width: 50vw;
  line-height: 9vw;
  padding-right: 1vw;
}
.hr {
  border-bottom: 1px solid #bfbbb6;
  margin-top: 4vw;
}
.page1 video {
  width: 100%;
  border-radius: 20px;
  margin-top: 4vw;
  position: relative;
}
#hero-shape {
  position: absolute;
  height: 36vw;
  width: 46vw;
  right: 0;
  top: 87vh;
}
.hero-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fe350b;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
}
.hero-2 {
  position: absolute;
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe350b, #fe4c0b);
  border-radius: 50%;
  filter: blur(10px);
  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero-3 {
  height: 30vw;
  position: absolute;
  width: 30vw;
  background: linear-gradient(#fe350b, #fe4c0b);
  border-radius: 50%;
  filter: blur(25px);
  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes anime1 {
  from {
    transform: translate(53.5%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}
.page2 {
  min-height: 100vh;
  width: 100%;
  padding: 8vw 0;
  background: #efeae3;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}
.container {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.dibba {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #fe350b;
  display: inline-block;
  margin: 1vw 1.5vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.page2-bottom {
  height: 80vh;
  width: 100%;
  background-color: #efeae3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6vw;
  margin-top: 6vw;
  position: relative;
  margin-top: 20vw;
  z-index: 9;
}
.page2-bottom h1 {
  font-weight: bold;
  font-size: 4vw;
  line-height: 4vw;
  height: 100vh;
  width: 55%;
  z-index: 9;
}
.bottom-p2 {
  width: 22.5%;
}
.bottom-p2 img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15vw;
}
.bottom-p2 p {
  font-weight: 300;
  margin-top: 3vw;
}
.gool {
  width: 38vw;
  height: 38vw;
  background: linear-gradient(to top right, #ff0400, #fe640b);
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 27%;
  filter: blur(20px);
  animation-name: gool;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes gool {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0deg);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
.bottom-button {
  font-weight: 100;
  overflow: hidden;
  position: relative;
  background-color: #efeae3;
  border: 1px solid #c9c5bf;
  margin: 4vw 30px;
  padding: 10px 25px;
  gap: 1vw;
  border-radius: 55px;
}

.nav-part2 h4::after {
  content: "";
  height: 100%;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  z-index: 200;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}


.nav-part2 h4:hover a {
  color: #fff;
}

.nav-part2 h4 {
  padding: 10px 20px;
  color: black;
  gap: 1vw;
  border: 1px solid #c9c5bf;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 100;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
  margin: 0 5px;
}
.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.nav-part2 h4 a {
  color: #625c58;
  text-decoration: none;
  position: relative;
  z-index: 9999;
  font-weight: 100;
}


.bottom-button::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -100%;
  border-radius: 70%;
  transition: all ease 0.3s;
}
.bottom-button:hover::after {
  bottom: 0;
  border-radius: 0;
}
.bottom-button:hover span {
  color: #fff;
}

.bottom-button span {
  font-size: 20px;
  text-align: center;
  z-index: 9;
  position: relative;
  font-size: 1.2vw;
}
.page2-shape {
  height: 1.5vh;
  width: 100%;
  padding: 0 1.5vw;
  background-color: #efeae3;
}
.shaper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 5px;
  white-space: nowrap;
}
.shaper p {
  font-size: 1vw;
  font-weight: 100;
}

.goola {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 0.5vw;
  background-color: #fe350b;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0;
}
.element {
  height: 120px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
}
.element h2 {
  font-size: 3.5vw;
  position: relative;
  z-index: 9;
  font-family: new;
  font-weight: 600;
}
.element .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(255, 164, 60);
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
}
.element:hover .overlay {
  top: 0;
}
.p-tag {
  position: relative;
}
.p-tag-mini1 {
  font-size: 1.1vw;
  font-weight: 200;
  text-align: right;
}
.p-tag-mini2 {
  font-weight: 100;
  font-size: 13px;
  text-align: right;
  opacity: 0.4;
}
#fixed-image {
  height: 29.5vw;
  width: 24vw;
  position: fixed;
  background-size: cover;
  background-position: center;
  top: 17%;
  right: 27%;
  border-radius: 10px;
  z-index: 99;
  display: none;
}
#main-wrapper {
  position: relative;
  z-index: 10;
}
.page4 {
  height: 120vh;
  width: 100%;
  padding: 0 2.3vw;
  background-color: #efeae3;
}
.page4-2 {
  background-color: #0b0500;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
}

.page4-p1 h4 {
  font-weight: 100;
  line-height: 1.5vw;
  width: 24.5vw;
  color: #efeae3;
}
.page4-p1 {
  padding: 12.5vw;
  padding-left: 10vw;
}
.div2 {
  margin-bottom: 35px;
}
.div2 h1 {
  font-size: 4.5vw;
  font-weight: 600;
  line-height: 5vw;
  letter-spacing: 2px;
}
.div2 {
  border-left: 2px solid white;
  padding-left: 15px;
}
.page4-2 .img {
  width: 55%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
  position: absolute;
  top: -0%;
  right: 0;
}
.div2 button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #efeae3;
  cursor: pointer;
}
.div2 .h11:active .h12 {
  color: #000;
}
.img {
  background-image: url("https://empireave.com/wp-content/uploads/2019/11/converse-1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page5 {
  height: 130vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 2vw;
  padding-top: 200px;
}
.swiper {
  width: 115vw;
  height: 50vh;
  position: relative;
}
.swiper-wrapper {
  position: absolute;
  left: -35%;
}

.swiper-slide {
  border-left: 1px solid rgba(129, 129, 129, 0.822);
  width: 30%;
  padding: 0 2vw;
}

.swiper-slide p {
  margin-top: 20px;
  width: 16.7vw;
  line-height: 1.5vw;
}
.swiper3 img {
  width: 200px;
  height: 165px;
}
.page6 {
  height: 120vh;
  width: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #0b0500;
  color: white;
  z-index: 9;
  display: flex;
  padding: 0 30px;
  justify-content: flex-end;
  flex-direction: column;
}
.footer-div {
  height: 20vh;
  width: 100%;
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.footer1 {
  font-weight: 700;
  font-size: 2.2vw;
}
#footer h1 {
  font-size: 22.6vw;
  margin-bottom: -30px;
}
.footer-div2 input {
  z-index: 12;
  margin-top: 2.5vw;
  background: transparent;
  position: absolute;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.2vw;
}
.input-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.316);
  margin-top: 4.5vw;
}
.footer-div2 {
  padding-right: 5vw;
  position: relative;
}
.footer-div2 p {
  color: #fff;
  font-weight: 100;
  font-size: 1.5vw;
}
.footer1:hover {
  color: rgba(255, 255, 255, 0.517);
}
.real-footer {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #504a45;
}
.real-footer i {
  padding-right: 7px;
}
#full-scr {
  height: 100vh;
  width: 100%;
  background-color: #0000007b;
  position: absolute;
  top: -100%;
  z-index: 99;
  transition: all ease 0.8s;
}
.full-div1 {
  height: 63.3%;
  width: 100vw;
  background-color: #efeae3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.for-margin {
  margin-bottom: 5vw;
  padding-left: 4.5vw;
}

.full-div1 .q1 {
  font-size: 12vw;
  color: black;
  background-color: #efeae3;
  left: 60%;
  top: 23%;
  display: block;
  padding-right: 2vw;
  position: absolute;
}

.full-div1 .q2 {
  font-size: 12vw;
  color: black;
  background-color: #efeae3;
  left: 53%;
  top: 34%;
  display: block;
  padding-right: 2vw;
  position: absolute;
}

.full-div1 .q3 {
  font-size: 12vw;
  color: black;
  background-color: #efeae3;
  left: 40%;
  top: 45%;
  display: block;
  padding-right: 2vw;
  position: absolute;
}
.hr2{
  border: 2px solid black;
  display: none;
}


@media (max-width: 600px) {
  .page1 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0 0vw;
    background-color: #efeae3;
  }
  nav img {
    height: 11vh;
    transition: all ease 0.2s;
  }
  nav {
    padding: 6.5vw 4vw;
    background-color: #efeae3;
  }
  .nav-part2 {
    display: none;
  }
  nav h3 {
    display: block;
    padding: 13px 20px;
    color: black;
    gap: 1vw;
    border: 1px solid #c9c5bf;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
  }
  nav h3 i {
    margin-right: 12px;
    font-size: 16px;
  }
#center {
  height: 78vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 6vw 4.5vw;
  padding-bottom: 15vw;
  margin-bottom: -15vw;
  position: relative
  ;
  z-index: 9;
}
.left h3 {
  width: 70%;
  font-size:4.2vw ;
  line-height: 4.5vw;
  font-size: 100;
  padding-bottom:5vw;
}
#center h1 {
  padding-top: 7vw;
  font-size: 13vw;
  text-align: right;
  line-height: 11vw;
}
.page1 video {
  width: 92%;
  border-radius: 17px;
  margin-top: 8vw;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  margin-left: 4%;
  position: relative;
}

#hero-shape {
  position: absolute;
  height:70vw;
  width: 72vw;
  right: 0;
  bottom: -170vw;
}
.page2 {
  min-height: 100vh;
  min-width: 100%;
  padding: 8vw 0;
  background: #efeae3;
  position: relative;
  z-index: 99;
}
#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
#moving-text h1 {
  font-size: 13vw;
  display: inline-block;
}
.container {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.dibba {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fe350b;
  display: inline-block;
  margin: 1vw 1.5vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.page2-bottom {
  height: 130vh;
  width: 100%;
  background-color: #efeae3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 10vw 4vw;
  margin-top: 6vw;
  
}

.page2-bottom h1 {
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size: 7vw;
  line-height: 7vw;
  height: 100vh;
  width: 100%;
}
.bottom-p2 {
  position: relative;
  z-index: 99;
  width: 65%;
  padding-bottom: 20vw;
}
.bottom-p2 img {
  width: 100%;
  border-radius: 10px;
}
.bottom-p2 p {
  font-weight: 300;
  margin-top: 6vw;
  font-size: 3vw;
  line-height: 4.6vw;
  width: 95%;
}
.gool {
  width:70vw;
  height:70vw;
  background: linear-gradient(to top right, #ff0400, #fe640b);
  border-radius: 50%;
  z-index: 98;
  left: 40%;
  top: 25%;
  position: absolute;
  filter: blur(20px);
  animation-name: gool;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.shaper p {
  font-size: 3vw;
  font-weight: 100;
  letter-spacing: 0.3vw;
}

.goola {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 0.5vw;
  margin-right: 6px;
  margin-bottom: 4px;
  background-color: #fe350b;
}
.bottom-button {
  font-weight: 100;
  overflow: hidden;
  position: relative;
  background-color: #efeae3;
  border: 1px solid #c9c5bf;
  margin: 11vw 20px;
  padding: 10px 25px;
  gap: 1vw;
  border-radius: 55px;
}
.bottom-button::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -100%;
  font-size: 700px;
  border-radius: 70%;
  transition: all ease 0.3s;
}
.bottom-button:hover::after {
  bottom: 0;
  border-radius: 0;
}
.bottom-button:hover span {
  color: #fff;
}

.bottom-button span {
  text-align: center;
  z-index: 9;
  position: relative;
  font-size: 4vw;
}

.page4 {
  height: 140vh;
  width: 100%;
  padding: 0 4vw;
  background-color: #efeae3;

}
.page4-2 {
  background-color: #0b0500;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.page4-p1 h4 {
  font-weight: 100;
  line-height: 4vw;
  width: 70vw;
  font-size: 3vw;
  color: #efeae3;
}
.page4-p1 {
  padding: 14.5vw;
  margin-left: 15px;
  padding-left: 10vw;
}

.div2 h1 {
  font-size: 9vw;
  font-weight: 600;
  line-height: 9vw;
  letter-spacing: 2px;
}
.div2 {
  border-left: 2px solid white;
  padding-left: 15px;
  height: 20vh;
  margin-bottom: 35px;

}
.page4-2 .img {
  width: 100%;
  height: 50%;
  background-color: #000;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  right: 0;
}
.div2 button {
  background-color: transparent;
  outline: none;
  border: none;
  color: #efeae3;
  cursor: pointer;
}
.div2 .h11:active .h12 {
  color: #000;
}
.img {
  background-image: url("https://empireave.com/wp-content/uploads/2019/11/converse-1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page5 {
  height: 80vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 2vw;
  padding-top: 100px;
}
.swiper {
  position: relative;
  overflow-x: hidden;
}
.swiper-wrapper {
  position: absolute;
  left: -40%;
}

.swiper-slide {
  border-left: 1px solid rgba(129, 129, 129, 0.822);
  padding: 0 2vw;
 
}

.swiper-slide p {
  margin-top: 20px;
  width: 16.7vw;
  font-size: 4vw;
  line-height: 4vw;
}

.page6 {
  height: 160vh;
  width: 100%;
}
.footer {
  position: fixed;
  height: 60vh;
  width: 100%;
  background-color: #0b0500;
  color: white;
  z-index: 9;
}
.footer-div {
  height: 60vh;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  padding: 0 6vw;
  justify-content:flex-start;
  align-self: flex-start;
}
.footer1 {
  font-weight: 700;
  font-size: 6.5vw;
}
#footer h1 {
  font-size: 20.6vw;
  margin-bottom: -30px;
}
.footer-div2 input {
  z-index: 12;
  margin-top: 2.5vw;
  background: transparent;
  position: absolute;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.2vw;
}
.input-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.316);
  margin-top: 4.5vw;
}
.footer-div2 {
  position: relative;
}
.footer-div2 p {
  color: #fff;
  font-weight: 100;
  font-size: 1.5vw;
}
.footer1:hover {
  color: rgba(255, 255, 255, 0.517);
}
.real-footer {
  height: 15vh;
  width: 80%;
  font-size: 3vw;
  display: flex;
  flex-wrap:wrap;
  letter-spacing: 0.5vw;
  align-items: center;
  border-top: 1px solid #504a45;
}
.real-footer i {
  padding-right: 7px;
}
}
@media (max-width:600px) {
  .loader h1{
    font-size: 10vw;
  }
}